
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.git
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> uploads (user generated content) ###
/public/uploads/
###< uploads (user generated content) ###

###> environment-specific config ###
/config/packages/*.local
/config/packages/**/*.local
/.dockerignore
/php-uploads.ini
###< environment-specific config ###
