when@dev:
  monolog:
    handlers:
      main:
        type: rotating_file
        path: "%kernel.logs_dir%/dev.log"
        level: debug
        max_files: 10

      console:
        type: console
        process_psr_3_messages: false
        channels: ["!event", "!doctrine"]

when@prod:
  monolog:
    handlers:
      main:
        type: rotating_file
        path: "%kernel.logs_dir%/prod.log"
        level: error
        max_files: 3
        formatter: monolog.formatter.json

when@test:
  monolog:
    handlers:
      main:
        type: null
        level: debug